###############################################################################
# @copyright Copyright (c) A1 Company LLC. All rights reserved.
###############################################################################

CONFIG_BOOTLOADER_FACTORY_RESET=y
CONFIG_BOOTLOADER_NUM_PIN_FACTORY_RESET=36
CONFIG_BOOTLOADER_OTA_DATA_ERASE=y
CONFIG_BOOTLOADER_DATA_FACTORY_RESET="nvs"
CONFIG_BOOTLOADER_HOLD_TIME_GPIO=1

CONFIG_EDBG_ENABLED=y
CONFIG_EDBG_SWCLK_GPIO=4
CONFIG_EDBG_SWDIO_GPIO=18
CONFIG_EDBG_RESET_GPIO=12

CONFIG_STPM32_ENABLED=y
CONFIG_STPM32_KSI_SHUNT_MILLIOHM=1
CONFIG_STPM32_CALIBRATION=145

###############################################################################